.box1 {
  height: 30%;
  width: 30%;
  /* border: 2px solid red; */
  background-color: black;
  color: yellow;
}

#box {
  height: 70vh;
  width: 50vw;
  border: 2px solid black;
  background-color: white;
  color: yellow;

  position: relative;
}

#div2 {
  width: 80%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: rgb(63, 61, 61);
}

#div1 {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 0;
  left: 0;
}

#div3 {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: rgb(110, 108, 108);
}
