.box1 {
  width: 20vw;
  height: 20vh;
  background-color: rgb(80, 77, 77);
  border: 2px solid red;
}

.box {
  height: 60vh;
  width: 60vw;
  border: 2px solid black;
  background-color: white;
  color: yellow;
  
}

.div1 {
  width: 40vw;
  height: 40vh;
  position: relative;
}
.div2{
  position: absolute;
  right: 0;
 bottom: 0;
}
